.container {
    margin: 0 auto;
    padding: 0 1rem;

    @media (min-width:1200px) {
        max-width: 55vw;
    }

    &--large {
        margin: 0 auto;
        padding: 0 1rem;

        @media (min-width:1200px) {
            max-width: 75vw;
        }
    }
}