:root {

    // Dark Mode
    &[data-color-scheme="dark"] {
        --background-color: #222;
        --defaultColor: #fff;
    }

    // Light Mode
    &[data-color-scheme="light"] {
        --background-color: #fff;
        --defaultColor: #222;
    }
}