// Dark Mode
[data-color-scheme="dark"] {
    --background-color: #222;
    --defaultColor: #f8f8f8;

    // Default Button
    --buttonColor: #fff;
    --buttonBorder: #fff;
    --buttonHoverColor: #333;

    // Check Theme Popup
    --checkThemeBackground: #444;
}

// Light Mode
[data-color-scheme="light"] {
    --background-color: #fff;
    --defaultColor: #333;

    // Default Button
    --buttonColor: #666;
    --buttonBorder: #666;
    --buttonHoverColor: #fff;

    // Check Theme Popup
    --checkThemeBackground: #ececec;
}