// Dark Mode
[data-color-scheme="dark"] {
    --background-color: #222;
    --defaultColor: #f8f8f8;

    // Default Button
    --buttonColor: #fff;
    --buttonBorder: #fff;
    --buttonHoverColor: #333;

    // Header
    --headerBackgroundColor:#333;
    --headerTextColor:#fff;

    // Check Theme Popup
    --checkThemeBackground: #444;

    // Form Styles
    --inputBackground: #444;
    --inputColor: #fff;
}

// Light Mode
[data-color-scheme="light"] {
    --background-color: #fff;
    --defaultColor: #333;

    // Default Button
    --buttonColor: #666;
    --buttonBorder: #666;
    --buttonHoverColor: #fff;

    // Header
    --headerBackgroundColor:#f8f8f8;
    --headerTextColor:#444;

    // Check Theme Popup
    --checkThemeBackground: #ececec;

    // Form Styles
    --inputBackground: #ececec;
    --inputColor: #444;
}